.container {
  width: 400px;
  height: 150px;
  @media (max-width: 600px) {
    height: 100px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.confirm {
  background: transparent;
  border: 1px solid lightpink;
}

.closed {
  display: none;
}
