.edit_form {
  width: 100%;
  text-align: left;

  input {
    width: 100%;
  }

  .submit__container {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;

    .submit__button {
      width: 100px;
    }
  }
}

.files_loader {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.file_centring {
  display: flex;
  align-items: center;
  justify-content: center;
}

.files_loader__container {
  max-width: 200px;
  height: 80px;
  margin: 20px;
  border: 2px solid black;
  background-color: white;
  .file_centring();
}

.loading {
  .file_centring();
}

.file_input {
  display: none;
}

.textarea {
  width: 100%;
}

.files_container {
  max-height: 15vh;
  overflow: scroll;
}
