.status {
  padding: 5px 10px;
  border-radius: 15px;
  width: 50%;
  max-width: 200px;
  justify-self: center;
}

.done {
  border: 2px solid lightgreen;
  color: #33b333;
  background-color: #dbffdb;
}

.progress {
  border: 2px solid #fcd581;
  color: #c69122;
  background-color: #ffefce;
}

.expired {
  border: 2px solid lightpink;
  color: #ff7c90;
  background-color: #ffe4e8;
}
